<!-- <nav>
    <div class="container">
        <div class="content ">
            <ul>
                <li routerLink="/products">products</li>
                <li routerLink="/cart">carts</li>
            </ul>
        </div>
    </div>
</nav>


-->


<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container">
        <div class="content">
        <h2 class="logo pl-0"> Market</h2>

        <div class="collapse navbar-collapse" id="main">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a routerLink="/products" class="nav-link active" href="#">products</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/cart" class="nav-link" href="#">cart</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/adminproduct" class="nav-link" href="#">Admin product</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/admincart"  class="nav-link ">Admin cart</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</nav>




